*~
*.orig
*.rej
*.o
DEADJOE
Makefile
Makefile.in
core
joe-*.tar.gz
#*
charmaps/klingon
rc/*rc
rc/jicerc.ru
joe/stringify
joe/termidx
joe/joe
joe/.deps
joe/autoconf.h
joe/autoconf.h.in

config.guess
config.status
config.sub
config.log
autom4te.cache
aclocal.m4
configure
depcomp
install-sh
missing

__pycache__
*.pyc
tests/testenv

compile
joe/stamp-h1
joe/util/.deps
joe/util/checkwidths
joe/util/stringify
joe/util/termidx
joe/util/uniproc
man/joe.1
man/ru/joe.1
rc/joerc.zh_TW
